################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ExercicioRandon/obj
/.vs/ExercicioRandon/v17
/.vs/ExercicioRandon/FileContentIndex
/ExercicioRandon/bin/Debug/net8.0
